<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Criar conta</mat-card-title>
    </mat-card-header>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Digite o usuário">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Digite o E-mail">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Digite sua Senha">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Escolha o Perfil</mat-label>
          <mat-select>
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Registrar</button>
    </form>
  </mat-card>
</div>